old side bar
<template name="sidebar">
<div class="column col-sm2 colxs-1 sidebar-offcanvas">
    <ul class="nav">
        <li>

              <a href='#' class="visible-xs text-center">
                <i class="fa fa-list-alt"></i>
              </a>
        </li>
        </ul>
        <ul class="nav hidden-xs" id="lg-menu">
          <li><a href="#"><i class="fa fa-user fa-2x"></i><b>&nbsp;Profile</b></a></li>
          <li><a href="#"><i class="fa fa-list fa-2x"></i><b>&nbsp;Quicksort</b></a></li>
          <li><a href="#"><i class="fa fa-calendar fa-2x"></i><b>&nbsp;Calendar</b></a></li>
        </ul>
</div>
</template>